*{
  --purple:#9945FF;
  --green:#14F195;
}

.bg-black{
  background-color: #000;
}
.text-purple{
  color: var(--purple);
}
.text-green{
  color: var(--green);
}
.btn-green{
  background-color: var(--green);
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 20px;
  text-decoration: none;
  transition: 0.25s;
  color: black;
  font-weight: 600;
  text-align: center;
}
.btn-green:hover{
  background-color: whitesmoke;
  transform: translateY(-2px);
  color: black;
}
.btn-purple{
  background-color: var(--purple);
  border-radius: 5px;
  cursor: pointer;
  padding: 12px 20px;
  text-decoration: none;
  transition: 0.25s;
  font-weight: 600;
  color:white;
  text-align: center;
}
.btn-purple:hover{
  background-color: whitesmoke;
  transform: translateY(-2px);
  color: #000;
}



/* Header */
.header{
  min-height: 100vh;
}
.site__box{
  border-radius: 30px;
  overflow: hidden;
}
.header-svg{
  background-color:rgba(38, 0, 71, 0.829) ;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  padding: 10px;
}
.moonbird-logo{
  height: 150px;
}
.header-svg > svg{
  width:100%;
  height: 100%;
}
.siteBox__left{
  background-color: rgba(38, 0, 71, 0.452);
}
.siteBox__right{
  background-color: rgba(38, 0, 71, 0.557);
}


.section__heading{
  font-weight: 800;
  font-size: 50px;
}
.roadmap > img{
  height: 120px;
  width: auto;
}







@media screen and (max-width:800px){
  .roadmap{
    align-items: center;
  }
  .roadmap > img{
    width: 150px;
    padding: 10px 0px;
    height: auto !important;
  }
}


