@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bree+Serif&display=swap');
body {
  margin: 0;
  font-family: 'Alice', serif;
font-family: 'Bree Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(12, 0, 26);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
